In [86]:
import pandas as pd
import numpy as np
import re

In [87]:
cols_to_normalize = ['__home_buildUpPlaySpeed', '__home_buildUpPlayDribbling',
                     '__home_buildUpPlayPassing',
                     '__home_chanceCreationPassing', '__home_chanceCreationCrossing',
                     '__home_chanceCreationShooting', '__home_defencePressure',
                     '__home_defenceAggression', '__home_defenceTeamWidth',
                     '__away_buildUpPlaySpeed', 
                     '__away_buildUpPlayDribbling', '__away_buildUpPlayPassing',
                     '__away_chanceCreationPassing', '__away_chanceCreationCrossing',
                     '__away_chanceCreationShooting', '__away_defencePressure',
                     '__away_defenceAggression', '__away_defenceTeamWidth']

most_matches = pd.read_csv('most_seasons_unnormalized.csv')
recent_matches = pd.read_csv('recent_seasons_unnormalized.csv')

most_matches = most_matches.fillna(np.nan)
most_matches = most_matches.replace(-1, np.nan)

recent_matches = recent_matches.fillna(np.nan)
recent_matches = recent_matches.replace(-1, np.nan)

In [88]:
id_columns =  ['__home_team_fifa_api_id', '__away_team_fifa_api_id']

unique_ids = set(most_matches['__home_team_fifa_api_id'].values)
unique_ids = unique_ids.union(set(recent_matches['__home_team_fifa_api_id'].values))

id_map = {}
for i, id_ in enumerate(list(unique_ids)):
    id_map[id_] = i

for id_column in id_columns:
    most_matches[id_column].replace(id_map, inplace=True)
    recent_matches[id_column].replace(id_map, inplace=True)

recent_matches[id_columns]

     __home_team_fifa_api_id  __away_team_fifa_api_id
0                         64                        0
1                          7                      141
2                        134                        4
3                        203                      136
4                        138                        5
5                        208                       12
6                          0                      133
7                        204                       69
8                         14                        8
9                         13                        9
10                       133                      204
11                        69                      134
12                       141                       64
13                       136                        0
14                        14                       12
15                         0                      138
16                         8                      208
17                         9                      203
18                         4                       13
19                         5                        7
20                         7                      204
21                       208                      136
22                        12                      203
23                        64                        8
24                        14                        9
25                       141                      133
26                         5                        4
27                         0                        0
28                       134                       13
29                       138                       69
..                       ...                      ...
490                      141                      209
491                       13                      136
492                       14                      203
493                      134                       64
494                      204                        9
495                      133                       12
496                       70                        0
497                        5                        4
498                       77                        0
499                        8                        7
500                       64                      141
501                      209                        5
502                       12                       77
503                      136                        8
504                        4                       13
505                        0                      133
506                        7                       14
507                        0                      204
508                      203                       70
509                        9                      134
510                       70                      209
511                      134                      136
512                      141                      203
513                      133                       64
514                      204                        7
515                       14                        9
516                        8                       12
517                       13                        0
518                       77                        4
519                        5                        0

[520 rows x 2 columns]

In [89]:
most_matches_normed = most_matches.copy()
recent_matches_normed = recent_matches.copy()

# Normalize columns
# ###################
for column in cols_to_normalize:
    most_col = np.array(most_matches[column].values.astype(np.float))
    recent_col = np.array(recent_matches[column].values.astype(np.float))
    min_ = min(most_col[~np.isnan(most_col)].min(), recent_col[~np.isnan(recent_col)].min())
    max_ = max(most_col[~np.isnan(most_col)].max(), recent_col[~np.isnan(recent_col)].max())
    most_matches_normed[column] = (most_col - min_) / (max_ - min_)
    recent_matches_normed[column] = (recent_col - min_) / (max_ - min_)

In [90]:
most_matches = most_matches.fillna(-1)
recent_matches = recent_matches.fillna(-1)

most_matches_normed = most_matches_normed.fillna(-1)
recent_matches_normed = recent_matches_normed.fillna(-1)

In [91]:
most_matches.drop(list(most_matches.filter(regex='Unnamed: ')), axis=1, inplace=True)
recent_matches.drop(list(recent_matches.filter(regex='Unnamed: ')), axis=1, inplace=True)

most_matches_normed.drop(list(most_matches_normed.filter(regex='Unnamed: ')), axis=1, inplace=True)
recent_matches_normed.drop(list(recent_matches_normed.filter(regex='Unnamed: ')), axis=1, inplace=True)

In [92]:
most_matches.to_csv('most_seasons_unnormalized.csv', index=False)
recent_matches.to_csv('recent_seasons_unnormalized.csv', index=False)

most_matches_normed.to_csv('most_seasons_normalized.csv', index=False)
recent_matches_normed.to_csv('recent_seasons_normalized.csv', index=False)